<ion-content>
    <div class="login-section ion-padding">
        <div class="heading ion-padding">
            <h1>Cake Digital Factory</h1>
          <img src="/assets/imgs/pasteles.png">
          <p style="color: black;">Ingresa los datos</p>
          
        </div>
        <div class="login-form ion-padding">
            <div class="form-input">
               <ion-icon name="mail-outline"></ion-icon>
                   <ion-item>
                       <ion-label position="floating"> Usuario</ion-label>
                       <ion-input type="text" ></ion-input>
                   </ion-item>
               
            </div>


            <div class="form-input">
                <ion-icon name="lock-closed-outline"></ion-icon>
                    <ion-item>
                        <ion-label position="floating" style="color:blanchedalmond;"> Contraseña</ion-label>
                        <ion-input type="password" ></ion-input>
 
                    </ion-item>
                
             </div>
        </div>
       
        <div class="action-button ion-padding">
            <ion-button size="medium" class=".enterButton">Ingresar</ion-button>
            <p style="color: black;">¿Olvidó su contraseña?</p>
         </div>
   
    </div>

   
</ion-content>